body {
    min-width: 357px;
    overflow-x: hidden;
}
div, ul, li, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style:none;
}
li {
    padding-top: 15px;
}
.name:after,
label:after{
    content: ": ";
}
.name {
    font-weight: bold;
    font-size: 16px;
}
.color-help {
    background: linear-gradient(90deg, hsl(0, 100%, 50%), 
                                hsl(60, 100%, 50%), 
                                hsl(120, 100%, 50%),
                                hsl(180, 100%, 50%),
                                hsl(240, 100%, 50%),
                                hsl(300, 100%, 50%),
                                hsl(360, 100%, 50%));
    height: 10px;
    width: 130px;
    margin-left: 38px;
}
